 <!--Student name: Abel Teklemariam | Student number: 301224352 | Date: 10 Feb 2023-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <title>About Me</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="docs/logo.png"
            height="100"
            width="100"
            alt="logo"
            class="mr-3"
          />
          My Portfolio
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        
        </div>
      </nav>
    </header>

    <main>
      <section class="jumbotron text-center">
        <div class="container">
          <img
            src="docs/dp.jpg"
            height="350"
            width="300"
            alt="profile picture"
            class="rounded-circle mb-3"
          />
          <h1 class="jumbotron-heading">About Me</h1>
          <p class="lead text-muted">
            My name is Abel Teklemariam. I am passionate about technology and have always been 
            fascinated by how software can make a positive impact in people's lives. I have built a solid foundation in 
            computer science principles, algorithms,and programming languages during my education. I have also had the 
            chance to work on projects, both alone and as a member of a team, which has assisted me in developing my 
            abilities and gaining real-world experience.

            I'm always looking for ways to expand my knowledge and abilities, and I'm always eager to take on new projects 
            and work on challenging issues I'm eager to further my studies and use technology to have a positive impact on the world.
            
          </p>
          <a href="docs/Abel T - IT Resume.pdf" class="btn btn-primary my-2" download> Download Resume</a>
        </div>
      </section>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          © 2023 Abel T. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>

