<!--Student name: Abel Teklemariam | Student number: 301224352 | Date: 10 Feb 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css"/>
  <title>My Portfolio</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img
          src="docs/logo.png"
          height="100"
          width="100"
          alt="logo"
          class="mr-3"
        />
        My Portfolio
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
     
      </div>
    </nav>
  </header>
  <main>
    <section class="jumbotron text-center">
      <div class="container">
        <img
          src="docs/dp.jpg"
          height="350"
          width="300"
          alt="profile picture"
          class="rounded-circle mb-3"
        />
        <h1 class="jumbotron-heading">Hi, I'm Abel Teklemariam</h1>
        <p class="lead text-muted">
          Welcome to my portfolio!
          As an entry-level IT professional, I'm excited to show my skills, projects, and experiences. 
        </p>
      </div>
    </section>
  </main>
  <footer class="bg-dark py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-white">Address</h4>
          <p style="color: rgb(167, 165, 165);">
            Toronto, ON, Canada
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-white">Navigation</h4>
          <ul class="list-unstyled">
            <li style="color: rgb(167, 165, 165);"><a href="/about" class="text-muted">About</a></li>
            <li style="color: rgb(167, 165, 165);"><a href="/projects" class="text-muted">Projects</a></li>
            <li style="color: rgb(167, 165, 165);"><a href="/services" class="text-muted">Services</a></li>
            <li style="color: rgb(167, 165, 165);"><a href="/contact" class="text-muted">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li style="color: rgb(167, 165, 165);"><i class="fas fa-envelope mr-2"></i> abeltk893@gmail.com</li>
            <li style="color: rgb(167, 165, 165);"><i class="fas fa-phone mr-2"></i> (647) 123-4567</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  