 <!--Student name: Abel Teklemariam | Student number: 301224352 | Date: 10 Feb 2023-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css"/>
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="docs/logo.png"
            height="100"
            width="100"
            alt="logo"
            class="mr-3"
          />
          My Portfolio
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
         
        </div>
      </nav>
    </header>
    <main>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Projects</h1>
        </div>
      </section>

      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <img class="card-img-top" src="docs/2.png" height="400" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Shopify store</h5>
            <p class="card-text">
          I built a complete store for <a href="http://www.eleletamart.com/"> eleletamart.com </a>. The website is desgined for a retail shop that sales multiple products.
          I built an interactive and visually appealing store that users can easily navigate and interact with. I have also optimized the website ensuring that users have
         a seamless experience to access it.
            </p>
            <p class="text-muted">My role: Shopify store builder and digital marketer</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <img class="card-img-top" src="docs/pz.png" height="400" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">Pizza delivery app</h5>
            <p class="card-text">
              As a programmer who built a simple pizza ordering app using C#, I created a tool that streamlines the ordering process for pizza enthusiasts.
               I utilized C# to build an application that allows users to select their favorite toppings, crust type, and size,
                and place an order with ease. I built a clean and efficient code base that handles user inputs, calculates the total price, and integrates with a payment gateway.
                 The result is a user-friendly app that orders pizza easily.
            <p class="text-muted">My role: C# programmer</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <img class="card-img-top" src="docs/real.png" height="400" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">Realtor website</h5>
            <p class="card-text">
              As a web developer who built a simple front-end website, utilizing HTML and css to create an interactive user interface for a realor.
               I focused on creating a website that is easy to navigate and use, ensuring that all elements are properly aligned
               and spaced for a cohesive look. My attention to helped me deliver a website that is functional and meets the needs of the users.
            </p>
            <p class="text-muted">My role: Web Designer/ Front end developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>

<footer class="bg-dark text-white py-3">
<div class="container">
  <p class="text-center">
    Copyright &copy; Abel T. 2023
  </p>
</div>
</footer>
</body>
</html>

