 <!--Student name: Abel Teklemariam | Student number: 301224352 | Date: 10 Feb 2023-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <title>Services</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="docs/logo.png"
            height="100"
            width="100"
            alt="logo"
            class="mr-3"
          />
          My Portfolio
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business-list">Business List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/update">Update</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section class="services my-5">
        <div class="container">
            <h2 class="text-center mb-5">Services</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img
                            src="docs/web dev.jpg"
                            alt="web development"
                            class="card-img-top"
                        />
                        <div class="card-body">
                            <h4 class="card-title">Web Development</h4>
                            <p class="card-text">
                                I offer custom web development services, from
                                designing and developing a website to providing
                                maintenance and support.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img
                            src="docs/mob app dev.jpg"
                            alt="mobile app development"
                            class="card-img-top"
                        />
                        <div class="card-body">
                            <h4 class="card-title">Mobile App Development</h4>
                            <p class="card-text">
                                I offer custom mobile app development services,
                                from designing and developing a mobile app to
                                providing maintenance and support.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img
                            src="docs/gp.jpg"
                            alt="general Programming"
                            class="card-img-top"
                        />
                        <div class="card-body">
                            <h4 class="card-title">General Programming</h4>
                            <p class="card-text">
                                I offer general programming services, including
                                software development, database design and
                                implementation, and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
