<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </nav>
  </header>
  <h1>Services</h1>
  <p>Here are some of the services I offer:</p>
  <ul>
    <li>Service 1</li>
    <li>Service 2</li>
    <li>Service 3</li>
  </ul>
</body>
</html>
